#contact {
  text-align: center;
  font-family: "Poppins", sans-serif;
  padding-top: 1.5rem;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  height: 450px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  background-color: #161616;
  background-image: url(/assets/img/dark-decoration.svg);
  background-size: 1520px;
  background-position: center;
  border-radius: 14px;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.6);
  text-align: center;
  color: #888;
  margin: 5% 13% 5% 13%;
  @media (min-width: 1700px) {
    margin: 5% 15% 5% 15%;
  }
  @media (max-width: 480px) {
    margin: 5% 5% 15% 5%;
  }
}
.contact-container {
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}
@media screen and (min-width: 1300px) {
  .contact-container {
    width: 85%;
    margin: 0 auto;
  }
}
#contact__info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.contact-title-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.contactTitle {
  color: white;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1;
  margin-right: 40%;
  @media (max-width: 39.9375em) {
    font-size: 3rem;
    margin-right: 0%;
  }
  @media (max-width: 63.9375em) {
    font-size: 2.65rem;
    margin-right: 0%;
  }
}
#contact__title {
  background: -webkit-linear-gradient(white, whitesmoke);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  margin: 0 auto;
  color: white;
  //line-height: 0.3vw;
}

#contact__subtext {
  font-size: 1rem;
  font-weight: 700;
  color: white;
  margin: 0 auto;
}
@media (max-width: 87.5em) {
  #contact__subtext {
    font-size: 2rem;
  }
}

.contact-cta {
  background: var(--button-color);
  color: white;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  font-size: 1.5em;
  border-radius: 5em;
  font-weight: bold;
  display: inline-block;
  &:hover {
    opacity: var(--buttonDisabledOpacity);
    transition: background 0.2s ease-in-out;
  }
}

.contact-section-cta {
  padding-top: 0.5rem;
}

@media (max-width: 39.9375em) {
  #contact {
    text-align: center;
    font-family: "Inter", sans-serif;
    height: fit-content;
  }

  #contact__info {
    display: inline-block;
  }

  #contact__title {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 9vw;
  }

  #contact__subtext {
    font-size: 6vw;
    text-align: center;
    line-height: normal;
  }
}
.contact-wrapper {
  width: 100%;
  padding: 60px 0 60px;
  background-color: #00204e;
  background-image: url(/assets/img/footer-lines.svg);
  background-repeat: no-repeat;
  background-size: 25%;
  background-position: 0 0;
}

/* reset */
form input,
form select,
form textarea,
form fieldset,
form optgroup,
form label,
.StripeElement {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
form label,
form legend {
  font-size: 0.825rem;
  margin-bottom: 0.5rem;
}
/* border, padding, margin, width */
form input,
form select,
form textarea,
.StripeElement {
  box-sizing: border-box;
  //border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: white;
  z-index: -999;
  padding: 0.75em 1rem;
  margin-bottom: 1.5rem;
  border-radius: 0.5rem;
  color: #444452;
  font-weight: 700;
  //border-radius: 7px;
  &:hover {
    box-shadow: 0 0 0 0 #fff inset, #1de9b6 0 0 0 2px;
    transition: box-shadow 0.2s ease-in-out;
  }
}
form input:focus,
form select:focus,
form textarea:focus,
.StripeElement:focus {
  background-color: white;
  opacity: 0.95;
  outline-style: solid;
  outline-width: thin;
  outline-color: transparent;
  outline-offset: -1px;
  box-shadow: 0 0 0 0 #fff inset, #1de9b6 0 0 0 3px;
}
form [type="text"],
form [type="email"],
.StripeElement {
  width: 100%;
}
form [type="button"],
form [type="submit"],
form [type="reset"] {
  width: 35%;
  margin: 0 auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  padding: 12px 24px;
  background-color: white;
  color: black;
  border-radius: 7px;
  transition: transform 250ms cubic-bezier(0.2, 0.8, 0.4, 1);

  &:hover {
    transform: scale(1.03);
    transition: transform 0.15s ease-in-out;
    box-shadow: none;
    //opacity: var(--buttonDisabledOpacity);
  }

  &:active {
    transform: scale(0.95);
    box-shadow: none;
  }
}

form [type="button"]:focus,
form [type="submit"]:focus,
form [type="reset"]:focus {
  outline: none;
}

form select {
  text-transform: none;
}

.formbox {
  width: 70%;
  border-width: 1px 1px 1px 1px;
  border-radius: 7px;
  background-color: transparent;
  background-image: url(/assets/img/strips.webp);
  background-repeat: no-repeat;
  background-size: 25%;
  background-position: 0% 90%;
  @media (max-width: 39.9375em) {
    width: 100%;
  }
  @media (max-width: 63.9375em) {
    width: 100%;
  }
}
