#contact {
  background: var(--nav-bg-color);
  text-align: center;
  font-family: "Poppins", sans-serif;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.contact-section-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  flex-wrap: wrap;
  padding-top: 0.25rem;
}

.contact-section-icons > *:not(:last-child) {
  margin-right: 1rem;
}

.contact-section-resume-button {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--icons-text-color);
  background-color: var(--icons-color);
  border-radius: 3px;
  padding: 5px 15px;
  margin-top: -1px;
}

.contact-section-resume-button:hover {
  color: var(--icons-text-color);
  background-color: var(--icons-color-hover);
}

#contact__info {
  display: inline-block;
}

#contact__title {
  color: var(--icons-color);
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 0.3vw;
  padding-bottom: 2.5rem;
}

#contact__subtext {
  margin-bottom: 2vw;
  margin-left: 10vw;
  margin-right: 10vw;
  font-size: 1.5vw;
  font-weight: 700;
  line-height: 0.5vw;
}

@media (max-width: 640px) {
  #contact {
    width: 100%;
    background: var(--nav-bg-color);
    text-align: center;
    color: white;
    font-family: "Inter", sans-serif;
    height: fit-content;
    padding-bottom: 3rem;
  }

  #contact__info {
    display: inline-block;
  }

  #contact__title {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 11vw;
  }

  #contact__subtext {
    margin-bottom: 2.2vw;
    font-size: 6vw;
    text-align: center;
    line-height: normal;
  }
}
