@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
.dayNight {
  cursor: pointer;
  position: absolute;
  top: 1.35rem;
  right: 7rem;
}

@media (max-width: 480px) {
  .dayNight {
    top: 1.48rem;
    right: 18.5rem;
  }
}

@media (max-width: 375px) {
  .dayNight {
    right: 16rem;
  }
}

.label {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 25px;
  border-radius: 50px;
  width: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 0 15px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  border: 2px solid black;
}

.label .fa-moon {
  color: #fafafa;
}

label .fa-sun {
  color: #f3bc24;
}

.blob {
  position: absolute;
  left: 50%;
  width: 50%;
  height: 100%;
  background: var(--icons-color);
  border-radius: 50px;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox:checked + .label .blob {
  left: 0;
}

.checkbox:checked + .label {
  background-color: #525153;
}

/* header */
.header {
  background-color: var(--nav-bg-color);
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: var(--nav-bg-color);
  border-radius: 5px;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  color: var(--text-color);
  font-weight: 700;
  text-align: center;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #ddd;
  color: var(--nav-onhover);
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 20px 30px;
  text-decoration: none;
}

/* menu */
.header .menu {
  clear: both;
  max-height: 0;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

/* menu icon */
.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header .menu-icon .navicon {
  background: var(--icons-color);
  display: block;
  height: 3px;
  width: 25px;
  position: relative;
  -webkit-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: var(--icons-color);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 7px;
}

.header .menu-icon .navicon:after {
  top: -7px;
}

/* menu btn */
.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
  -webkit-box-shadow: 0px 11px 16px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 11px 16px 0px rgba(0, 0, 0, 0.3);
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media (min-width: 700px) {
  .header {
    top: 0;
    right: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr auto minmax(300px, 4fr) 1fr;
        grid-template-columns: 1fr auto minmax(300px, 4fr) 1fr;
    background-color: var(--background-color);
  }
  .header .menu {
    position: relative;
    text-align: left;
    -webkit-transition: none;
    transition: none;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    background: none;
    top: initial;
    left: initial;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header li {
    margin-left: 2em;
    margin-bottom: 0;
  }
  .header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header li a {
    position: relative;
    padding: 20px 20px 15px;
    color: var(--icons-color);
    font-weight: 700;
    font-size: 1.2rem;
  }
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: transparent;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

/* Sticky Nav */
.sticky {
  position: fixed;
  width: 100%;
}

@media screen and (min-width: 0px) and (max-width: 480px) {
  .header {
    top: 0;
    right: 0;
    background-color: var(--background-color);
  }
  .header ul {
    background-color: var(--background-color);
  }
  .header li a {
    padding: 15px 15px 9px;
    font-size: 1.3rem;
    background-color: var(--background-color);
  }
  .header .menu-icon {
    padding: 2.3rem 1.5rem;
  }
  .sticky {
    width: 100%;
  }
  #header {
    display: block;
    width: 100%;
  }
  /* show it on small screens */
}

#projects {
  width: 100%;
  background: var(--background-color);
  padding-top: 7vw;
  padding-bottom: 7vw;
}

.projects__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 3.5vw 0px;
      grid-template-areas: "Project1 Project1-Info" "Project2 Project2-Info" "Project3 Project3-Info";
  width: 80%;
  margin: 0 auto;
}

.Project1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: Project1;
  background: #0d1016;
  border-radius: 1vw 0vw 0vw 1vw;
  border-top: 1px solid #202121;
  border-bottom: 1px solid #202121;
  border-left: 1px solid #202121;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.44);
          box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.44);
}

.Project1-Info {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: Project1-Info;
  background: #0d1016;
  border-radius: 0vw 1vw 1vw 0vw;
  color: white;
  border-top: 1px solid #202121;
  border-bottom: 1px solid #202121;
  border-right: 1px solid #202121;
  padding: 1.5vw 1.5vw;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.44);
          box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.44);
}

.project__title {
  color: white;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2vw;
  display: inline-block;
  margin-top: 0.6vw;
  margin-bottom: 0.1vw;
}

.project__description {
  font-family: "Poppins", sans-serif;
  font-size: 1.5vw;
  color: white;
  margin-bottom: 1vw;
  font-weight: 400;
  text-align: justify;
  margin-top: 0vw;
}

.project__external {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  float: right;
}

.project__external a {
  margin-left: 0.8vw;
  text-decoration: none;
}

.project__external__icon {
  font-size: 2.2vw;
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.project__external__icon:hover {
  color: var(--icons-color);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.tag {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  display: inline-block;
  margin-right: 0.8vw;
  border-radius: 0.3vw;
  padding: 0.4vw;
  font-size: 1.2vw;
}

.tag__icon {
  position: relative;
  top: 0.15vw;
  margin-right: 0.3vw;
  margin-left: 0.1vw;
  font-size: 1.2vw;
  color: white;
}

.tag--html {
  background: rgba(229, 76, 38, 0.1);
  color: #e54c26;
}

.tag__icon--html {
  color: #e54c26;
}

.tag--css {
  background: rgba(54, 155, 214, 0.1);
  color: #369bd6;
}

.tag__icon--css {
  color: #369bd6;
}

.tag--javascript {
  background: rgba(254, 229, 1, 0.1);
  color: #fee501;
}

.tag__icon--javascript {
  color: #fee501;
}

.tag--angular {
  background: rgba(229, 76, 38, 0.1);
  color: #e54c26;
}

.tag__icon--angular {
  color: #e54c26;
}

.tag--api {
  background: rgba(127, 15, 255, 0.1);
  color: #7f0fff;
}

.tag__icon--api {
  color: #7f0fff;
}

.tag--typescript {
  background: rgba(54, 155, 214, 0.1);
  color: #369bd6;
}

.tag__icon--typescript {
  color: #369bd6;
}

.Project2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: Project2;
  background: #0d1016;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top: 1px solid #202121;
  border-bottom: 1px solid #202121;
  border-right: 1px solid #202121;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.44);
          box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.44);
}

.Project2-Info {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: Project2-Info;
  background: #0d1016;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-family: "Inter", sans-serif;
  color: white;
  border-top: 1px solid #202121;
  border-bottom: 1px solid #202121;
  border-left: 1px solid #202121;
  padding: 1.5vw 1.5vw;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.44);
          box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.44);
}

.Project3 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: Project3;
  background: #0d1016;
  border-radius: 1vw 0vw 0vw 1vw;
  border-top: 1px solid #202121;
  border-bottom: 1px solid #202121;
  border-left: 1px solid #202121;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.44);
          box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.44);
}

.Project3-Info {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: Project3-Info;
  background: #0d1016;
  border-radius: 0vw 1vw 1vw 0vw;
  font-family: "Inter", sans-serif;
  color: white;
  border-top: 1px solid #202121;
  border-bottom: 1px solid #202121;
  border-right: 1px solid #202121;
  padding: 1.5vw 1.5vw;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.44);
          box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.44);
}

.project__image {
  width: 100%;
  height: 100%;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  border-radius: 1vw 1vw 1vw 1vw;
  overflow: hidden;
}

@media (max-width: 640px) {
  #projects {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding-top: 2vw;
  }
  .project__image {
    visibility: hidden;
  }
  .projects__grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    /*grid-template-rows: 0.5fr 0.7fr 1fr;*/
    gap: 0px 0px;
        grid-template-areas: "Project1 Project1" "Project1-Info Project1-Info" "Project2 Project2" "Project2-Info Project2-Info" "Project3 Project3" "Project3-Info Project3-Info";
    margin-top: 10vw;
    margin-bottom: 10vw;
  }
  .project__title {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 7vw;
    display: inline-block;
    margin-top: 0.6vw;
    margin-bottom: 6vw;
  }
  .project__description {
    font-family: "Inter", sans-serif;
    font-size: 4.5vw;
    margin-bottom: 4vw;
    font-weight: 400;
    text-align: justify;
  }
  .Project1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: Project1;
    background: #0d1016;
    border-radius: 1vw 1vw 0vw 0vw;
    border-top: 1px solid #202121;
    border-left: 1px solid #202121;
    border-right: 1px solid #202121;
    overflow: hidden;
    display: none;
  }
  .Project1-Info {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: Project1-Info;
    border-radius: 0vw 0vw 1vw 1vw;
    border-bottom: 1px solid #202121;
    border-left: 1px solid #202121;
    border-right: 1px solid #202121;
    padding: 5vw 4vw;
    margin-bottom: 10vw;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.44);
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.44);
  }
  .Project2 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: Project2;
    background: #0d1016;
    border-radius: 1vw 1vw 0vw 0vw;
    border-top: 1px solid #202121;
    border-left: 1px solid #202121;
    border-right: 1px solid #202121;
    overflow: hidden;
    display: none;
  }
  .Project2-Info {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: Project2-Info;
    border-radius: 0vw 0vw 1vw 1vw;
    border-bottom: 1px solid #202121;
    border-left: 1px solid #202121;
    border-right: 1px solid #202121;
    padding: 5vw 4vw;
    margin-bottom: 10vw;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.44);
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.44);
  }
  .Project3 {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: Project3;
    background: #0d1016;
    border-radius: 1vw 1vw 0vw 0vw;
    border-top: 1px solid #202121;
    border-left: 1px solid #202121;
    border-right: 1px solid #202121;
    overflow: hidden;
    display: none;
  }
  .Project3-Info {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: Project3-Info;
    border-radius: 0vw 0vw 1vw 1vw;
    border-bottom: 1px solid #202121;
    border-left: 1px solid #202121;
    border-right: 1px solid #202121;
    padding: 5vw 4vw;
    margin-bottom: 3vw;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.44);
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.44);
  }
  .project__external__icon {
    font-size: 8vw;
    color: white;
  }
  .tag {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    display: inline-block;
    margin-right: 1vw;
    border-radius: 1vw;
    padding: 1vw;
    font-size: 4vw;
  }
  .tag__icon {
    position: relative;
    top: 0.3vw;
    margin-right: 0.8vw;
    margin-left: 0.1vw;
    font-size: 4vw;
  }
}

/* Customize website's scrollbar like Mac OS
Not supports in Firefox and IE */
/* total width */
body::-webkit-scrollbar {
  background-color: transparent;
  width: 12px;
}

/* background of the scrollbar except button or resizer */
body::-webkit-scrollbar-track {
  background-color: transparent;
}

/* scrollbar itself */
body::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 12px;
}

/* set button(top and bottom of the scrollbar) */
body::-webkit-scrollbar-button {
  display: none;
}

#contact {
  text-align: center;
  font-family: "Poppins", sans-serif;
  padding-top: 1.5rem;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  height: 450px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  background-color: #161616;
  background-image: url(/assets/img/dark-decoration.svg);
  background-size: 1520px;
  background-position: center;
  border-radius: 14px;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.6);
  text-align: center;
  color: #888;
  margin: 5% 13% 5% 13%;
}

@media (min-width: 1700px) {
  #contact {
    margin: 5% 15% 5% 15%;
  }
}

@media (max-width: 480px) {
  #contact {
    margin: 5% 5% 15% 5%;
  }
}

.contact-container {
  padding: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (min-width: 1300px) {
  .contact-container {
    width: 85%;
    margin: 0 auto;
  }
}

#contact__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contact-title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.contactTitle {
  color: white;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1;
  margin-right: 40%;
}

@media (max-width: 39.9375em) {
  .contactTitle {
    font-size: 3rem;
    margin-right: 0%;
  }
}

@media (max-width: 63.9375em) {
  .contactTitle {
    font-size: 2.65rem;
    margin-right: 0%;
  }
}

#contact__title {
  background: -webkit-linear-gradient(white, whitesmoke);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  margin: 0 auto;
  color: white;
}

#contact__subtext {
  font-size: 1rem;
  font-weight: 700;
  color: white;
  margin: 0 auto;
}

@media (max-width: 87.5em) {
  #contact__subtext {
    font-size: 2rem;
  }
}

.contact-cta {
  background: var(--button-color);
  color: white;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  font-size: 1.5em;
  border-radius: 5em;
  font-weight: bold;
  display: inline-block;
}

.contact-cta:hover {
  opacity: var(--buttonDisabledOpacity);
  -webkit-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}

.contact-section-cta {
  padding-top: 0.5rem;
}

@media (max-width: 39.9375em) {
  #contact {
    text-align: center;
    font-family: "Inter", sans-serif;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  #contact__info {
    display: inline-block;
  }
  #contact__title {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 9vw;
  }
  #contact__subtext {
    font-size: 6vw;
    text-align: center;
    line-height: normal;
  }
}

.contact-wrapper {
  width: 100%;
  padding: 60px 0 60px;
  background-color: #00204e;
  background-image: url(/assets/img/footer-lines.svg);
  background-repeat: no-repeat;
  background-size: 25%;
  background-position: 0 0;
}

/* reset */
form input,
form select,
form textarea,
form fieldset,
form optgroup,
form label,
.StripeElement {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}

form label,
form legend {
  font-size: 0.825rem;
  margin-bottom: 0.5rem;
}

/* border, padding, margin, width */
form input,
form select,
form textarea,
.StripeElement {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: white;
  z-index: -999;
  padding: 0.75em 1rem;
  margin-bottom: 1.5rem;
  border-radius: 0.5rem;
  color: var(--title-color);
  font-weight: 700;
}

form input:hover,
form select:hover,
form textarea:hover,
.StripeElement:hover {
  -webkit-box-shadow: 0 0 0 0 #fff inset, #1de9b6 0 0 0 2px;
          box-shadow: 0 0 0 0 #fff inset, #1de9b6 0 0 0 2px;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
}

form input:focus,
form select:focus,
form textarea:focus,
.StripeElement:focus {
  background-color: white;
  opacity: 0.95;
  outline-style: solid;
  outline-width: thin;
  outline-color: transparent;
  outline-offset: -1px;
  -webkit-box-shadow: 0 0 0 0 #fff inset, #1de9b6 0 0 0 3px;
          box-shadow: 0 0 0 0 #fff inset, #1de9b6 0 0 0 3px;
}

form [type="text"],
form [type="email"],
.StripeElement {
  width: 100%;
}

form [type="button"],
form [type="submit"],
form [type="reset"] {
  width: 35%;
  margin: 0 auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  padding: 12px 24px;
  background-color: white;
  color: black;
  border-radius: 7px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.2, 0.8, 0.4, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.2, 0.8, 0.4, 1);
  transition: transform 250ms cubic-bezier(0.2, 0.8, 0.4, 1);
  transition: transform 250ms cubic-bezier(0.2, 0.8, 0.4, 1), -webkit-transform 250ms cubic-bezier(0.2, 0.8, 0.4, 1);
}

form [type="button"]:hover,
form [type="submit"]:hover,
form [type="reset"]:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: -webkit-transform 0.15s ease-in-out;
  transition: -webkit-transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
  -webkit-box-shadow: none;
          box-shadow: none;
}

form [type="button"]:active,
form [type="submit"]:active,
form [type="reset"]:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-box-shadow: none;
          box-shadow: none;
}

form [type="button"]:focus,
form [type="submit"]:focus,
form [type="reset"]:focus {
  outline: none;
}

form select {
  text-transform: none;
}

.formbox {
  width: 70%;
  border-width: 1px 1px 1px 1px;
  border-radius: 7px;
  background-color: transparent;
  background-image: url(/assets/img/strips.webp);
  background-repeat: no-repeat;
  background-size: 25%;
  background-position: 0% 90%;
}

@media (max-width: 39.9375em) {
  .formbox {
    width: 100%;
  }
}

@media (max-width: 63.9375em) {
  .formbox {
    width: 100%;
  }
}

/*Animations*/
[data-animate-in] {
  opacity: 0;
  -webkit-transition: opacity 0.8s ease, -webkit-transform 0.8s ease;
  transition: opacity 0.8s ease, -webkit-transform 0.8s ease;
  transition: transform 0.8s ease, opacity 0.8s ease;
  transition: transform 0.8s ease, opacity 0.8s ease, -webkit-transform 0.8s ease;
}

[data-animate-in="up"] {
  -webkit-transform: translate3d(0, 24px, 0);
          transform: translate3d(0, 24px, 0);
}

[data-animate-in="left"] {
  -webkit-transform: translate3d(-25%, 0, 0);
          transform: translate3d(-25%, 0, 0);
}

[data-animate-in="right"] {
  -webkit-transform: translate3d(25%, 0, 0);
          transform: translate3d(25%, 0, 0);
}

[data-animate-in="down"] {
  -webkit-transform: translate3d(0, -24px, 0);
          transform: translate3d(0, -24px, 0);
}

[data-animate-in="fadeIn"] {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

[data-animate-in].in-view {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: opacity 0.6s ease, -webkit-transform 0.6s ease;
  transition: opacity 0.6s ease, -webkit-transform 0.6s ease;
  transition: transform 0.6s ease, opacity 0.6s ease;
  transition: transform 0.6s ease, opacity 0.6s ease, -webkit-transform 0.6s ease;
}

.fade-in {
  opacity: 0;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.page-loaded .fade-in,
.page-loaded.fade-in {
  opacity: 1;
}

.isSafari.isTouch [data-animate-in],
.isSafari.isTouch [data-animate-in="up"] {
  opacity: 1;
  -webkit-transition: none;
  transition: none;
  -webkit-transform: none;
          transform: none;
}

:root {
  --primary-color: #7f8ced;
  --primary-color-dark: #5867e8;
  --sun-color: #ffcc33;
  --moon-color: #51a5da;
  --bg: hsl(0, 100%, 10%);
  --color: hsl(0, 0%, 100%);
  --underline-width: 8px;
  --underline-block-width: 20px;
  --underline-transition: 0.5s;
}

.light-mode {
  --text-color: #444452;
  --background-color: rgb(236, 236, 236);
  --nav-bg-color: #f8fbf8;
  --icons-color: rgba(236, 72, 153);
  --icons-color-hover: rgb(194, 29, 111);
  --icons-inner-color: #fff;
  --icons-text-color: #fff;
  --nav-onhover: rgb(197, 29, 113);
  --underline-color: rgba(236, 72, 153);
  --underline-color-hover: rgb(219, 55, 137);
}

.dark-mode {
  --text-color: #ffffff;
  --background-color: #0c1320;
  --nav-bg-color: #111827;
  --icons-color: #64ffda;
  --icons-color-hover: #29d4ad;
  --icons-inner-color: black;
  --icons-text-color: black;
  --nav-onhover: #15b38e;
  --underline-color: #64ffda;
  --underline-color-hover: #1cd1a7;
}

* {
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
}

html {
  margin: 0;
  background-color: var(--background-color);
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--background-color);
  scroll-behavior: smooth;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

b {
  font-weight: 700;
}

a {
  color: var(--icons-color);
  text-decoration: none;
}

a:hover {
  color: var(--icons-color-hover);
}

i {
  color: inherit;
}

.hidden {
  display: none;
}

.fa-stack {
  width: 2em;
}

.fa-square {
  color: var(--icons-inner-color);
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

*::-moz-selection {
  background: var(--icons-inner-color);
  color: white;
}

*::selection {
  background: var(--icons-inner-color);
  color: white;
}

.container {
  padding: 2.5rem 1rem;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hero {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-content {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.hero-image {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 200px;
}

.projects-header-text {
  --tw-text-opacity: 1;
  color: var(--icons-color);
  font-size: 3rem;
  margin-left: 5.3125rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 430px) {
  .projects-header-text {
    margin: 0 auto;
    font-size: 2.2rem;
  }
}

@media (max-width: 875px) {
  .hero-image {
    display: none;
  }
}

.hero-text {
  margin: 0 0 0.25rem 0;
  font-size: 145%;
}

.hero-text-main {
  margin: 0 0 0.5rem 0;
  font-size: 350%;
}

.hero-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 0.25rem;
}

.hero-icons > *:not(:last-child) {
  margin-right: 0.5rem;
}

.resume-button {
  font-size: 0.75rem;
  font-weight: 700;
  color: var(--icons-text-color);
  background-color: var(--icons-color);
  border-radius: 3px;
  padding: 0.3125rem 0.9375rem;
  margin-top: -1px;
}

.resume-button:hover {
  color: var(--icons-text-color);
  background-color: var(--icons-color-hover);
}

@media screen and (min-width: 432px) {
  .hero-image {
    width: 31.25rem;
  }
}

@media screen and (min-width: 1660px) {
  .resume-button {
    font-size: 1.1rem;
  }
  .langICO {
    width: 2.5rem;
    height: 2.5rem;
  }
}

@media screen and (min-width: 1300px) {
  .container {
    width: 85%;
    margin: 0 auto;
  }
  .hero {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 1.1vw;
  }
  .hero-content {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .hero-image {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 40%;
  }
}

.highlighted-text {
  --tw-text-opacity: 1;
  color: var(--icons-color);
}

.highlighted-text b {
  --tw-text-opacity: 1;
  color: var(--icons-color);
}

.langICO {
  width: 2.2rem;
  height: 2.2rem;
  cursor: pointer;
}

/* Link Hover Effect */
.underline {
  color: var(--color);
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, right top, from(var(--bg)), to(var(--bg))), -webkit-gradient(linear, left top, right top, from(var(--underline-color)), to(var(--underline-color)));
  background-image: linear-gradient(90deg, var(--bg), var(--bg)), linear-gradient(90deg, var(--underline-color), var(--underline-color));
  background-size: var(--underline-block-width) var(--underline-width), 100% var(--underline-width);
  background-repeat: no-repeat;
  background-position-x: calc(var(--underline-block-width) * -1), 0;
  background-position-y: 100%;
  -webkit-transition: background-position-x var(--underline-transition);
  transition: background-position-x var(--underline-transition);
}

.underline:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(var(--bg)), to(var(--bg))), -webkit-gradient(linear, left top, right top, from(var(--underline-color-hover)), to(var(--underline-color-hover)));
  background-image: linear-gradient(90deg, var(--bg), var(--bg)), linear-gradient(90deg, var(--underline-color-hover), var(--underline-color-hover));
  background-position-x: calc(100% + var(--underline-block-width)), 0;
}

/* Emoji Wave */
.wave {
  -webkit-animation-name: wave-animation;
          animation-name: wave-animation;
  /* Refers to the name of your @keyframes element below */
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  /* Change to speed up or slow down */
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  /* Never stop waving :) */
  -webkit-transform-origin: 70% 70%;
          transform-origin: 70% 70%;
  /* Pivot around the bottom-left palm */
  display: inline-block;
}

@-webkit-keyframes wave-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  /* The following five values can be played with to make the waving more or less extreme */
  20% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  30% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  40% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  /* Reset for the last half to pause */
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes wave-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  /* The following five values can be played with to make the waving more or less extreme */
  20% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  30% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  40% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  /* Reset for the last half to pause */
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

/* Sroll back to top button */
#myBtn {
  background-color: transparent;
  display: none;
  position: fixed;
  bottom: 2.5rem;
  right: 2.1875rem;
  z-index: 99;
  cursor: pointer;
}

#myBtn:hover {
  opacity: 0.95;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

/* hr divider */
.divider {
  position: relative;
  margin-top: 40px;
  height: 1px;
}

.div-transparent:before {
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 1px;
  background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(var(--text-color)), to(transparent));
  background-image: linear-gradient(to right, transparent, var(--text-color), transparent);
}

.div-dot:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -9px;
  left: calc(50% - 9px);
  width: 18px;
  height: 18px;
  background-color: var(--icons-color);
  border-radius: 50%;
}
/*# sourceMappingURL=main.css.map */