#projects {
  width: 100%;
  background: var(--background-color);
  padding-top: 7vw;
  padding-bottom: 7vw;
}

.projects__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.5vw 0px;
  grid-template-areas:
    "Project1 Project1-Info"
    "Project2 Project2-Info"
    "Project3 Project3-Info";
  width: 80%;
  margin: 0 auto;
}

.Project1 {
  grid-area: Project1;
  background: #0d1016;
  border-radius: 1vw 0vw 0vw 1vw;
  border-top: 1px solid #202121;
  border-bottom: 1px solid #202121;
  border-left: 1px solid #202121;
  overflow: hidden;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.44);
}

.Project1-Info {
  grid-area: Project1-Info;
  background: #0d1016;
  border-radius: 0vw 1vw 1vw 0vw;
  color: white;
  border-top: 1px solid #202121;
  border-bottom: 1px solid #202121;
  border-right: 1px solid #202121;
  padding: 1.5vw 1.5vw;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.44);
}

.project__title {
  color: white;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2vw;
  display: inline-block;
  margin-top: 0.6vw;
  margin-bottom: 0.1vw;
}

.project__description {
  font-family: "Poppins", sans-serif;
  font-size: 1.5vw;
  color: white;
  margin-bottom: 1vw;
  font-weight: 400;
  text-align: justify;
  margin-top: 0vw;
}

.project__external {
  display: inline-flex;
  float: right;
}

.project__external a {
  margin-left: 0.8vw;
  text-decoration: none;
}

.project__external__icon {
  font-size: 3vw;
  color: white;
  transition: 0.2s;
}

.project__external__icon:hover {
  color: var(--icons-color);
  transition: 0.2s;
}

.tag {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  display: inline-block;
  margin-right: 0.8vw;
  border-radius: 0.3vw;
  padding: 0.4vw;
  font-size: 1.2vw;
}

.tag__icon {
  position: relative;
  top: 0.15vw;
  margin-right: 0.3vw;
  margin-left: 0.1vw;
  font-size: 1.2vw;
  color: white;
}

.tag--html {
  background: rgba(229, 76, 38, 0.1);
  color: rgba(229, 76, 38, 1);
}

.tag__icon--html {
  color: rgba(229, 76, 38, 1);
}

.tag--css {
  background: rgba(54, 155, 214, 0.1);
  color: rgba(54, 155, 214, 1);
}

.tag__icon--css {
  color: rgba(54, 155, 214, 1);
}

.tag--javascript {
  background: rgba(254, 229, 1, 0.1);
  color: rgba(254, 229, 1, 1);
}

.tag__icon--javascript {
  color: rgba(254, 229, 1, 1);
}

.tag--angular {
  background: rgba(229, 76, 38, 0.1);
  color: rgba(229, 76, 38, 1);
}

.tag__icon--angular {
  color: rgba(229, 76, 38, 1);
}

.tag--api {
  background: rgba(127, 15, 255, 0.1);
  color: rgb(127, 15, 255);
}

.tag__icon--api {
  color: rgb(127, 15, 255);
}

.tag--typescript {
  background: rgba(54, 155, 214, 0.1);
  color: rgba(54, 155, 214, 1);
}

.tag__icon--typescript {
  color: rgba(54, 155, 214, 1);
}

.Project2 {
  grid-area: Project2;
  background: #0d1016;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top: 1px solid #202121;
  border-bottom: 1px solid #202121;
  border-right: 1px solid #202121;
  overflow: hidden;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.44);
}

.Project2-Info {
  grid-area: Project2-Info;
  background: #0d1016;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-family: "Inter", sans-serif;
  color: white;
  border-top: 1px solid #202121;
  border-bottom: 1px solid #202121;
  border-left: 1px solid #202121;
  padding: 1.5vw 1.5vw;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.44);
}

.Project3 {
  grid-area: Project3;
  background: #0d1016;
  border-radius: 1vw 0vw 0vw 1vw;
  border-top: 1px solid #202121;
  border-bottom: 1px solid #202121;
  border-left: 1px solid #202121;
  overflow: hidden;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.44);
}

.Project3-Info {
  grid-area: Project3-Info;
  background: #0d1016;
  border-radius: 0vw 1vw 1vw 0vw;
  font-family: "Inter", sans-serif;
  color: white;
  border-top: 1px solid #202121;
  border-bottom: 1px solid #202121;
  border-right: 1px solid #202121;
  padding: 1.5vw 1.5vw;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.44);
}

.project__image {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: 0.2s ease-in;
  border-radius: 1vw 1vw 1vw 1vw;
  overflow: hidden;
}

@media (max-width: 640px) {
  #projects {
    width: 100%;
    height: fit-content;
    padding-top: 2vw;
  }

  .project__image {
    visibility: hidden;
  }

  .projects__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*grid-template-rows: 0.5fr 0.7fr 1fr;*/
    gap: 0px 0px;
    grid-template-areas:
      "Project1 Project1"
      "Project1-Info Project1-Info"
      "Project2 Project2"
      "Project2-Info Project2-Info"
      "Project3 Project3"
      "Project3-Info Project3-Info";
    margin-top: 10vw;
    margin-bottom: 10vw;
  }

  .project__title {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 7vw;
    display: inline-block;
    margin-top: 0.6vw;
    margin-bottom: 6vw;
  }

  .project__description {
    font-family: "Inter", sans-serif;
    font-size: 4.5vw;
    margin-bottom: 4vw;
    font-weight: 400;
    text-align: justify;
  }

  .Project1 {
    grid-area: Project1;
    background: #0d1016;
    border-radius: 1vw 1vw 0vw 0vw;
    border-top: 1px solid #202121;
    border-left: 1px solid #202121;
    border-right: 1px solid #202121;
    overflow: hidden;
    display: none;
  }

  .Project1-Info {
    grid-area: Project1-Info;
    border-radius: 0vw 0vw 1vw 1vw;
    border-bottom: 1px solid #202121;
    border-left: 1px solid #202121;
    border-right: 1px solid #202121;
    padding: 5vw 4vw;
    margin-bottom: 10vw;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.44);
  }

  .Project2 {
    grid-area: Project2;
    background: #0d1016;
    border-radius: 1vw 1vw 0vw 0vw;
    border-top: 1px solid #202121;
    border-left: 1px solid #202121;
    border-right: 1px solid #202121;
    overflow: hidden;
    display: none;
  }

  .Project2-Info {
    grid-area: Project2-Info;
    border-radius: 0vw 0vw 1vw 1vw;
    border-bottom: 1px solid #202121;
    border-left: 1px solid #202121;
    border-right: 1px solid #202121;
    padding: 5vw 4vw;
    margin-bottom: 10vw;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.44);
  }

  .Project3 {
    grid-area: Project3;
    background: #0d1016;
    border-radius: 1vw 1vw 0vw 0vw;
    border-top: 1px solid #202121;
    border-left: 1px solid #202121;
    border-right: 1px solid #202121;
    overflow: hidden;
    display: none;
  }

  .Project3-Info {
    grid-area: Project3-Info;
    border-radius: 0vw 0vw 1vw 1vw;
    border-bottom: 1px solid #202121;
    border-left: 1px solid #202121;
    border-right: 1px solid #202121;
    padding: 5vw 4vw;
    margin-bottom: 3vw;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.44);
  }

  .project__external__icon {
    font-size: 8vw;
    color: white;
  }

  .tag {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    display: inline-block;
    margin-right: 1vw;
    border-radius: 1vw;
    padding: 1vw;
    font-size: 4vw;
  }

  .tag__icon {
    position: relative;
    top: 0.3vw;
    margin-right: 0.8vw;
    margin-left: 0.1vw;
    font-size: 4vw;
  }
}
